@import "../../styles/default/color.scss";
@import "./../../styles/default/dimension.scss";

.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	transition: $application-sidebar-transition;
	width: $application-sidebar-width-collapsed;

	.header{
		background: $application-header;
		height: $application-header-height;
	}	

	.viewport{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: $sidebar-position;
		bottom: $sidebar-position;
		background: $application-sidebar-color;
		box-shadow: $application-sidebar-shadow;
	}
}

.expanded{
	width: $application-sidebar-width;
}