@import "../../styles/default/color.scss";
@import "./../../styles/default/dimension.scss";

.sidebar-header{
	background: $application-header;
	height: $application-header-height;
}

.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	background: $application-header;
	transition: $application-sidebar-transition;
	width: $application-sidebar-width;
}

.sidebar-collapsed{
	width: $application-sidebar-width-collapsed;
}

.sidebar-viewport{
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: $application-sidebar-shadow;
    top: $application-header-height;
    right: $application-border-width;
	background: $application-sidebar-color;
}