@import "./../../styles/default/color.scss";
@import "./../../styles/default/font.scss";
@import "./../../styles/default/dimension.scss";

.footer{
	position: fixed;
	bottom: 0;
	right: 0;
	left: $application-sidebar-width-collapsed;
	background: $application-footer;
	height: $application-footer-height;
	transition: $application-viewport-transition;
		
	.caption{
		height: 100%;
		display: flex;
		align-items: center;
		color: $window-caption-color;
		padding-left: $window-caption-left-padding;
		font-weight: $window-caption-font-weight;
	}
}

.footer.expanded{
	left: $application-sidebar-width;
}