@import "./../../styles/default/color.scss";
@import "./../../styles/default/font.scss";
@import "./../../styles/default/dimension.scss";

.header{
	position: absolute;
	right: 0;
	height: $application-header-height;
	left: $application-sidebar-width-collapsed;
	transition: $application-viewport-transition;
	background: $application-header;

	.hamburger{
		position: absolute;
		height: $application-header-height;
		width: $hamburger-width;
		transition: $application-viewport-transition;

		.menu-button{
			border: none;
			position: absolute;
			background: transparent;
			border-radius: 0;
			cursor: default;
			z-index: 1;

			background: $application-header;
			height: $application-header-height;
			transition: $application-viewport-transition;
			width: $application-header-hamburger-width;
		
			.menu-button-content{
				color: lightblue;
				position: absolute;
				height: auto;
				cursor: default;
				top: $application-header-hamburger-top;
		
				&:after{
					content: none;
				}
		
				&:hover{
					background: transparent;
				}
		
				&:hover{
					i{
						color: white;
					}
				}
				
			}
		}
	}

	.title{
		position: absolute;
		top: 0;
		right: 0;
		left: $system-button-width;
		height: $application-header-height;
		-webkit-app-region: drag;

		.caption{
			height: 100%;
			display: flex;
			align-items: center;
			color: $window-caption-color;
			font-weight: $window-caption-font-weight;
			transition: $window-caption-transition;
		
			p{
				position: absolute;
				text-align: center;
				left: -$application-header-hamburger-width;
				right: $window-caption-right;
				top: $window-caption-top;
				bottom: $window-caption-bottom;
			}
		}
	}

	.title.desktop-application{
		left: $system-button-width * 3;
		right: $system-button-width * 3;
	}

	.buttons-dock{
		position: fixed;
		right: 0.1rem;
		font-size: 0;
		box-shadow: inset 0 1px 0.9rem rgba(0,0,0,0.6);
	}
}

.header.expanded{
	left: $application-sidebar-width;
}