@import "./styles/default/color.scss";
@import "./styles/default/dimension.scss";

viewport{
	background: #E8EEF2;
	height: 100%;
}

.content-data{
	position: fixed;
	top: $application-header-height + $window-workspace-space;
	left: $application-sidebar-width-collapsed + $window-workspace-space;
	bottom: $application-footer-height + $window-workspace-space;
	transition: $application-viewport-transition;
	right: $window-workspace-space + $application-border-height;
}

.content-data.expanded{
	left:  $application-sidebar-width + $window-workspace-space;
}

.bottom-border.expanded{
	left: $application-sidebar-width;
}

.viewport-outer-border{
	position: absolute;
	right: 0;
	border: solid $viewport-outer-border-width $application-footer;
	top: $application-header-height;
	left: $application-sidebar-width-collapsed;
	bottom: $application-footer-height;
	transition: $application-viewport-transition;
}

.viewport-outer-border.expanded{
	left: $application-sidebar-width;
}

.viewport-inset-border{
	position: absolute;
	right: 0;
	border: solid $viewport-inset-border-width $viewport-inset-border;
	top: $application-header-height + $viewport-outer-border-width;
	left: $application-sidebar-width-collapsed + $viewport-outer-border-width;
	bottom: $application-footer-height + $viewport-outer-border-width;
	transition: $application-viewport-transition;
}

.viewport-inset-border.expanded{
	left: $application-sidebar-width + $viewport-outer-border-width;
}