@import "./styles/default/color.scss";
@import "./styles/default/dimension.scss";

viewport{
	background: #E8EEF2;
	height: 100%;
}

.content-data{
	position: fixed;
	top: $application-header-height + $window-workspace-space;
	left: $application-sidebar-width-collapsed + $window-workspace-space;
	bottom: $application-footer-height + $window-workspace-space;
	transition: $application-viewport-transition;
	right: $window-workspace-space + $application-border-height;
}

.right-border{
	position: fixed;
	right: 0;
	height: 100%;
    width: $application-border-width;
    background: $application-header;
}

.bottom-border{
	position: fixed;
	right: 0;
	left: $application-sidebar-width-collapsed;
	bottom: 0;
    height: $application-border-height;
	background: $application-header;
	transition: $application-viewport-transition;
}

.expanded{
	left:  $application-sidebar-width + $window-workspace-space;
}

.bottom-border.expanded{
	left: $application-sidebar-width;
}