$application-header: #332F48;
$main-color: gray;
$application-sidebar-color: #2A2E33;
$application-footer: #332F48;
$window-header-color: #3889D2;
$window-workspace-background: white;
$window-footer-background: #7EB2FF;
$window-caption-color: white;