$application-header: blue;
$main-color: gray;
$application-sidebar-color: black;
$application-footer: gray;
$window-header-color: black;
$window-workspace-background: lightgray;
$window-footer-background: black;
$window-caption-color: white;