$application-header-height: 3rem;
$application-header-hamburger-width: 2.5rem;
$application-header-hamburger-top: .4rem;
$application-sidebar-width: 15rem;
$application-sidebar-width-collapsed: 3rem;
$application-sidebar-transition: width 500ms;
$application-sidebar-shadow: inset 0 0.06rem 0.25rem 0 rgba(0,0,0,1);
$application-viewport-transition: left 500ms;
$application-footer-height: 2rem;
$application-right-border-padding: 0.7rem;
$application-border-width: 0.2rem;
$application-border-height: 0.2rem;

$window-workspace-space: 1.0rem;
$window-workspace-border: 0 0.1rem;
$window-workspace-shadow: 0 0 0.5rem 0.12rem rgba(0,0,0,0.17);
$window-header-height: 2.0rem;
$window-footer-height: 1.5rem;
$window-border-radius-unit: 0.2rem;
$window-border-radius: $window-border-radius-unit $window-border-radius-unit 0 0;
$window-workspace-padding: 1.0rem;
$window-caption-left-padding: 1rem;
$window-caption-right: 0;
$window-caption-top: 1rem;
$window-caption-bottom: $window-caption-top;
$window-caption-transition: left 500ms;
$window-inset-border: 0.2rem solid #292735;

$hamburger-width: 2.1rem;
$system-button-width: 2.429rem;

$sidebar-position: -0.3rem;