@import "./../../styles/default/dimension.scss";

.system-button{
	border: none;
	width: $system-button-width;

	.system-button-content{
		background: black;
		border: none;
	
		i{
			content: '';
		}
	
		&:after{
			content: none;
		}
	
		&:hover{
			i{
				color: white;
			}
		}
	}
}